.my-modal {
  position: fixed;
  width: 210px;
  /*height: 300px;*/
  right: 0;
  top: 0;
  margin: 20px 30px 0px 0px;
  border: 1px solid grey;
  background: white;
  z-index: 10;
  padding: 10px;
  font-family: 'Fira Sans', bold;
}

.my-modal input {
  width: 180px;
  margin: 5px 10px 5px 4px;
}

.my-modal .close-button {
  float: right;
}

.close-button:hover {
  cursor: pointer;
}

.my-modal button {
  width: 180px;
  display: block;
  margin: 5px auto;
}