.control-panel {
  background: #060606;
  color: #060606;
  border: 1px solid #222527;
  margin: 5px auto;
  padding-bottom: 7px;
  width: 48%;
  min-height: 57px;
}

h2 {
  color: #f98d00;
}

.admin-control-header {
  margin: auto;
  width: 50%;
  font-size: 24px;
  display: inline;
}

.mode-select {
  float: right;
  margin-top: 5px;
  /*margin-right: 7px;*/
  margin: auto;
}

.form-control {
  font-family: 'Fira Sans', bold;
  background-color: #222527;
  border: 1px solid #d98d00;
}
