.control-panel {
  /*background: #8e0d01;*/
  /*background-color: #f98d00;*/
  background: #060606;
  /*color: #f98d00;*/
  color: #060606;
  /*font-family: 'Open Sans', sans-serif;*/
  border: 1px solid black;
  margin: 5px auto;
  padding-bottom: 7px;
  width: 48%;
  min-height: 57px;
}

h2 {
  color: #f98d00;
}

.admin-control-header {
  margin: auto;
  width: 50%;
  font-size: 24px;
  display: inline;
  border-bottom: 1px black solid;
}

.mode-select {
  float: right;
  margin-top: 5px;
  /*margin-right: 7px;*/
  margin: auto;
}

.form-control {
  /*margin: -10px;*/
}

.bo5-form-item {
  /*width: 20%;*/
  margin: auto;

}

.form-control select {
/*  margin-left: 20px;
  margin-bottom: 7px;*/
}

.form-control input {
  /*margin-left: 20px;*/
  margin-top: 0px;
}

.form-control button {
  /*margin-left: 20px;*/
}

.admin-submit {
  margin-top: 15px;
}

.control-panel b5-background {
  width: 99%;
}