.b5-background {
  border: 1px solid blue;
  margin: 15px 100px 0px 30px;
  background-color: #222527;
  /*height: 80%;*/
}

.b5-main {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

.b5-header {
  text-align: center;
  color: lightgrey;
  /*margin-left: 35%;*/
}

.b5-player {
  color: gainsboro;
  /*height: 150px;*/
  width: 49%;
  /*margin: auto;*/
  border: 1px solid blue;
}

.b5-player h3 {
  /*width: 60%;*/
  display: inline;
}

.b5-p1 {
  float: left;
}

.b5-p2 {
  float: right;
}

.player-thumbnail {
  width: 75px;
  height: 75px;
  float: left;
  margin: 10px 10px;
}

.b5-score {
  float: right;
  font-size: 57px;
  margin: 0px 10px;
}