.b5-background {
  margin: 15px 100px 0px 30px;
  background-color: #222527;
  padding-top: 1px;
  border-radius: 10px;
  height: 126px;
}

.b5-main {
  /*background-color: gainsboro;*/
  background: #060606;
  height: 73px;
  padding: 7px;
  border: 1px solid black;
}

.b5-header-frame {
  text-align: left;
  color: lightgrey;
  height: 27px;
  /*margin-left: 35%;*/
  line-height: 27px;
}
