.b5-background {
  margin: 15px 100px 0px 30px;
  background-color: #222527;
  padding-top: 1px;
  border-radius: 10px;
  /*height: 80%;*/
}

.b5-main {
  background-color: gainsboro;
  height: 80px;
  padding: 10px;
}

.b5-header {
  text-align: center;
  color: lightgrey;
  /*margin-left: 35%;*/
}

.b5-player {
  color: black;
  /*height: 150px;*/
  width: 49%;
  /*margin: auto;*/
}

.b5-player h3 {
  /*width: 60%;*/
  display: inline;
}

.b5-p1 {
  float: left;
}

.b5-p2 {
  float: right;
}

.b5-score {
  float: right;
  font-size: 57px;
  margin: 0px 10px;
}