.bo5-game-option-div .bo5-form-item {
  margin-top: 5px;
}

/*.bo5-game-option-div select {
  margin-top: 5px;
  margin: auto;
}

.bo5-game-option-div button {
  margin-top: 5px auto;
}*/

.bo5-game-option-div {
  /*margin: 5px 7px;*/
}