.social {
  position: fixed;
  right: 0;
  top: 33%;
  height: 400px;
  width: 75px;
  background-color: rgba(120, 114, 113, 0.5);
  border: 1px solid rgb(135, 112, 113);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}