body {
  /*background-color: #0e0d0d;*/
  /*background-image: URL("images/spiration_dark.png");*/
  font-family: 'Open Sans', sans-serif;
  color: #f98d00;
  /*overflow: scroll;*/
}

footer {
  display: none;
}

.header-pad {
  height: 50px;
  width: 20%;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
}