.header {
  width: 100%;
  height: 75px;
  background-color: #8e0d01;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 32.5px;
}

.brand {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 300px;
}

h1 {
  font-family: 'Overlock SC', cursive;
}