.header {
  width: 100%;
  height: 45px;
  /*background: #8e0d01;*/
  background: #060606;
  color: #f98d00;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  line-height: 1px;
  /*background: -webkit-linear-gradient(#8e0d01, #8e0d01,  #0e0d0d);  For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(#8e0d01, #8e0d01,  #0e0d0d); /* For Opera 11.1 to 12.0 */*/
  /*background: -moz-linear-gradient(#8e0d01, #8e0d01,  #0e0d0d); /* For Firefox 3.6 to 15 */*/
  /*background: linear-gradient(#8e0d01, #8e0d01,  #0e0d0d); /* Standard syntax */*/
  z-index: 2;
}

.title-box {
  width: 80%;
}

.brand {
  width: 45px;
  height: 45px;
  float: left;
  /*margin-right: 300px;*/
}

h1 {
  /*font-family: 'Overlock SC', cursive;*/
  font-family: 'Open Sans', sans-serif;
}

nav {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.nav-button {
  height: 100%;
  /*width: 200px;*/
  line-height: 43px;
  float:left;
  z-index: 2;
  margin: 0px 15px;
}

.nav-button:hover {
  cursor: pointer;
}