.player-thumbnail {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 10px;
  /*margin: 10px 10px;*/
}

h4 {
  float: left;
}

.b5-score {
  float: right;
  font-size: 60px;
  margin: -17px 10px;
}